{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animaut</title>
    <link rel="stylesheet" type="text/css" href="{% static 'anime/css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'anime/css/instyle.css' %}">
</head>
<body>
    <header>
        <div class="nav_menu">
            <div class="nav_menu1">
                <div class="logo">
                    <img src="{%static 'anime/img/logo.png'%}" alt="" class="logo_img">
                </div>
                <ul>
                    <li><a href="#">Топ аниме</a></li>
                    <li><a href="#">Релизы</a></li>
                    <li><a href="#">Расписание</a></li>
                    <li><a href="#">Поддержать проект</a></li>
                </ul>
            </div>
            <div class="nav_menu2"></div>
        </div>
    </header>
    <main>
        <div class="top№1_anime">
            <div class="content">
                <h2>Милый во Франсе</h2>
                <ul class="reliz">
                    <li class="li1">Зима</li>
                    <li class="li2">2018</li>
                    <li class="li2">16+</li>
                </ul>
                <ul class="janr">
                    <li class="li1">Меха</li>
                    <li class="li2">Драма</li>
                    <li class="li2">Научная фантастика</li>
                </ul>
                <p>В далёком будущем на опустошенной земле человечество возвело город- крепость «Плантация». В нём находится Мистелтейнн — приют, где детей содержат словно в птичьей клетке и учат пилотировать боевых роботов Франкс. Они не знают ни внешнего мира, ни бескрайних просторов неба, а их жизни — лишь череда сражений с ревущими драконами...</p>
            </div>
            <button class="top№1_smotr">Смотреть</button>
        </div>
        <div class="new_reliz">
            <h2>Новые эпизоды</h2>
            <p style="color: rgb(167, 167, 167);">Самые новые эпизоды в любимой озвучке</p>
            <div class="new_reliz1">
                <div class="anime1 anime"></div>
                <div class="anime2 anime"></div>
                <div class="anime3 anime"></div>
                <div class="anime4 anime"></div>
                <div class="anime5 anime"></div>
                <div class="anime6 anime"></div>
            </div>
        </div>
    </main>
</body>
</html>